<!DOCTYPE html>
<!--[if lt IE 9]>
<html class="old-ie" lang="en-US">
<![endif]-->
<!--[if gte IE 9]><!-->
<html lang="en-US">
<!--<![endif]-->
<head>
    <title>Dave Miller Painting and Restorations</title>
    <link href="/Content/revolution.css" type="text/css" rel="stylesheet" />
    <link href="/Content/fancybox.css" type="text/css" rel="stylesheet" />
    <link href="/Content/jscrollpane.css" type="text/css" rel="stylesheet" />
    <link href="/Content/flexslider.css" type="text/css" rel="stylesheet" />
    <link href="/Content/font-awesome.css" type="text/css" rel="stylesheet" />
    <link href="/Content/style.css" type="text/css" rel="stylesheet" />
    <link href="/Content/media.css" type="text/css" rel="stylesheet" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--[if lt IE 9]>
        <script src="/Scripts/html5shiv.js"></script>
        <script src="/Scripts/respond.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/Scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery-migrate-1.2.1.min.js"></script>
</head>
<body class="home">
    <div id="loading"><div class="spinner highlight"><i class="fa fa-spinner fa-spin"></i></div></div>
    
    <div id="menu">
        <div style="float:left;">
            @*<img src="/Images/Logo.png" />*@
        </div>
        <div>
            <ul>
                <li class="anchor active">
                    <a href="#home">Home</a>
                </li>
                <li class="anchor"><a href="#services">Services</a></li>
                <li class="anchor"><a href="#portfolio">Portfolio</a></li>
                <li class="anchor"><a href="#team">About</a></li>
                <li class="anchor"><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <select>
            <option selected="selected" disabled="disabled" value="">NAVIGATION</option>
            <option value="#home">Home</option>
            <option value="#services">Services</option>
            <option value="#portfolio">Portfolio</option>
            <option value="#about">About</option>
            <option value="#contact">Contact</option>
        </select>
    </div><!--menu-->
    

    

    <div id="wrapper">
        @RenderBody()
    </div><!--wrapper-->
    <footer id="footer">
        <div class="container">
            <div class="social_icons">
                <ul>
                    <li>
                        <a href="#" target="_blank"><i class="highlight fa fa-rss"></i></a>
                    </li>
                    <li>
                        <a href="#" target="_blank"><i class="highlight fa fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="#" target="_blank"><i class="highlight fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#" target="_blank"><i class="highlight fa fa-youtube"></i></a>
                    </li>
                    <li>
                        <a href="#" target="_blank"><i class="highlight fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#" target="_blank"><i class="highlight fa fa-pinterest"></i></a>
                    </li>
                </ul>
            </div><!--social_icons-->
            <div class="copyrights">
                Copyright @DateTime.Today.Year.ToString() Dave Miller Painting. All right reserved.<br />
                Site by: <a href="http://www.ravenartmedia.com">Raven Art Media</a>
            </div>
        </div><!--container-->
    </footer>

    <script type="text/javascript" src="/Scripts/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.fancybox-media.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.cycle2.min.js"></script>
    <script type="text/javascript" src="/Scripts/ios6fix.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.waitforimages.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.viewport.mini.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.jscrollpane.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.flexslider.js"></script>
    <script type="text/javascript" src="/Scripts/waypoints.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.appear.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.cookie.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places'></script>
    <script type='text/javascript' src='http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js'></script>
    <script type="text/javascript" src="/Scripts/scripts.js"></script>

</body>
</html>